<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Creation</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>

    <header>
        {% if post %}
            <h1>{{ post.title }}</h1>
        {% else %}
            <h1>Creation a post</h1>
        {% endif %}
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Save</button>
        </form>

    </header>

    <main>
        
    </main>

</body>
</html>